In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r"D:\Projects\Dataset\Movies Recommendation.csv")

In [2]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [3]:
print(df.isnull().sum())

Movie_ID                       0
Movie_Title                    0
Movie_Genre                    0
Movie_Language                 0
Movie_Budget                   0
Movie_Popularity               0
Movie_Release_Date             0
Movie_Revenue                  0
Movie_Runtime                  2
Movie_Vote                     0
Movie_Vote_Count               0
Movie_Homepage              3061
Movie_Keywords               387
Movie_Overview                 3
Movie_Production_House         0
Movie_Production_Country       0
Movie_Spoken_Language          0
Movie_Tagline                818
Movie_Cast                    27
Movie_Crew                     0
Movie_Director                22
dtype: int64

In [4]:
# Fill missing values with an empty string in relevant columns
df['Movie_Genre'] = df['Movie_Genre'].fillna('')
df['Movie_Keywords'] = df['Movie_Keywords'].fillna('')
df['Movie_Tagline'] = df['Movie_Tagline'].fillna('')
df['Movie_Cast'] = df['Movie_Cast'].fillna('')
df['Movie_Director'] = df['Movie_Director'].fillna('')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4760 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             4760 non-null   object
 18  Movie_Cast                4760 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4760 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [6]:
df.shape

(4760, 21)

In [7]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

Get Feature selection

In [8]:
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast', 'Movie_Director']]

In [9]:
df_features.shape

(4760, 5)

In [10]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,Itâ€™s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [11]:
x = df_features['Movie_Genre']+ " " + df['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + df_features['Movie_Cast'] + " " + df_features['Movie_Director']
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'.Lis...
4756    Comedy Family Drama  Itâ€™s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                            Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [12]:
x.shape

(4760,)

Get Feature Text Conversion to tokens

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf = TfidfVectorizer()

In [15]:
X = tfidf.fit_transform(x)

In [16]:
X.shape

(4760, 17928)

In [17]:
print(X)

  (0, 644)	0.16293574816248324
  (0, 515)	0.14504197070484376
  (0, 16007)	0.14619140332670505
  (0, 10069)	0.14191004210133223
  (0, 9859)	0.17202182516047693
  (0, 1442)	0.16856745900616432
  (0, 8172)	0.09886787525025609
  (0, 1264)	0.13831691994233059
  (0, 757)	0.13671559436349578
  (0, 13595)	0.1429061626782658
  (0, 15938)	0.10470442319806096
  (0, 9419)	0.0873922436575379
  (0, 11595)	0.062349791798264394
  (0, 17410)	0.17610747314916164
  (0, 5840)	0.08622571143686171
  (0, 17372)	0.10663743325088278
  (0, 8251)	0.1331511099376691
  (0, 15796)	0.09776324466187536
  (0, 11680)	0.07273154889938223
  (0, 4021)	0.12005273697445489
  (0, 5724)	0.11454381560599537
  (0, 7380)	0.19773575050051218
  (0, 7788)	0.14727784150748616
  (0, 1570)	0.19664065338062958
  (0, 9594)	0.15148864492900901
  :	:
  (4757, 5676)	0.1248332442358281
  (4757, 3074)	0.16448241432850658
  (4757, 8821)	0.23507206760530686
  (4757, 7233)	0.17123549564510213
  (4757, 8735)	0.1746919009384402
  (4757, 15885)	0.07649358182354456
  (4757, 15973)	0.09752905298629273
  (4757, 7989)	0.11505573106068558
  (4757, 11319)	0.14536975099760038
  (4757, 4667)	0.056715928266901694
  (4758, 5443)	1.0
  (4759, 11709)	0.33728800927776864
  (4759, 12175)	0.33728800927776864
  (4759, 214)	0.3217031097663449
  (4759, 9268)	0.3217031097663449
  (4759, 14584)	0.3217031097663449
  (4759, 3166)	0.2794756485655645
  (4759, 7446)	0.2624928825829299
  (4759, 11180)	0.310645447588412
  (4759, 4525)	0.1818848772481522
  (4759, 14573)	0.19954796349749462
  (4759, 5937)	0.19502072616400382
  (4759, 16025)	0.19549821170341186
  (4759, 1565)	0.21060562567542757
  (4759, 11080)	0.15803897352598426

Get Similarity Score using Cosine Similarity

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
simi_score = cosine_similarity(X)

In [20]:
simi_score

array([[1.        , 0.01348508, 0.03572908, ..., 0.        , 0.        ,
        0.        ],
       [0.01348508, 1.        , 0.00806353, ..., 0.        , 0.        ,
        0.        ],
       [0.03572908, 0.00806353, 1.        , ..., 0.        , 0.0802874 ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.0802874 , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [21]:
simi_score.shape

(4760, 4760)

Get Movie Name as Input from user and validate for closest spelling

In [1]:
Fav_movie_name = input("Enter your favourite name:")

In [ ]:
All_mov_title = df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Mov_suggestion =  difflib.get_close_matches(Fav_movie_name, All_mov_title)
print(Mov_suggestion)

In [ ]:
close_match = Mov_suggestion[0]
print(close_match)

In [ ]:
Index_of_close_match = df[df.Movie_Title == close_match]["Movie_ID"].values[0]
print(Index_of_close_match)

In [ ]:
Recommendation_score = list(enumerate(similarity_score[Index_of_close_match]))

print(Recommendation_score)

In [ ]:
len(Recommendation_score)

Get All Movie sort based on recommendation score

In [ ]:
# Sorting the movies based on their similarity score

sorted_similar_movies = sorted(Recommendation_score, key = lambda x:x[1], reverse = True)
print(sorted_similar_movies)

In [ ]:
print("Top 30 Movies suggested for you : \n")

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = df[df.index==index]['Movie_Title'].values[0]
    if (i<31):
        print(i, ".", title_from_index)
        i+1

Top 10 Movie Recommendation System

In [ ]:
Movie_name = input("Enter your favourite movie name: ")
list_of_all_titles = df['Movie_Title'].tolist()
get_close_match = difflib.get_close_matches(Movie_name, list_of_all_titles)

close_match = get_close_match[0]

index_of_movie = df[df.Movie_Title == close_match]['Movie_ID'].values[0]

Recommendation_score = list(enumerate(similarity_score[index_of_movie]))

sorted_similar_movies = sorted(Recommendation_score, key= lambda x:x[1], reverse= True)

print("Top 10 movies suggested for you: \n")

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
    if (i<31):
        print(i, '.', title_from_index)
        i+=1